.html .body {
    font-family: "Poiret One";
    color: black;
    background-color: rgb(161, 187, 196);
}

a, p , li, h1, div, header {
    font-family: "Poiret One";
    background-color: rgb(161, 187, 196);
}

.head { 
    background-color: rgb(161, 187, 196);
    height: auto;
    font-size: large;
}

.home {
    height: 40px;
    width: 40px;
}

.nav-pills {
    color:blue;
    background-color: #badaa5;
    font-family: "Poiret One";
}

.navContainer {
    height: 0 auto;
    width: 0 auto;
    background-color: rgb(161, 187, 196);
    display: inline-flex;
}

.jumbotron jumbotron-fluid  {
    color: rgb(161, 187, 196);
    font-size: 40px;
    background-color: #badaa5;
}

.col-sm {
    justify-content: space-evenly;
    color: black;
    font-family: "Poiret One";
    font-weight: 100;
}
.MM {
    width: 400px;
    height: 820px;
}


.flex-container p {
    font-size: 18px;
    font-family: "Poiret One";
    color: black;
    justify-content: space-evenly;
    display: flex;
}

h1 {
    font-size: 40px;
    font-family: "Poiret One";
    color: black;
}

p {
    font-size: 18px;
    color: black;
    font-family: "Poiret One";
    display: flex;
}

.container{
    color: white;
    font-family: "Poiret One";
    font-size: 18px;
    
}

.nav-items{
    display: inline-block;
}

button{
    color: black;
    background-color: rgb(161, 187, 196);;
    font-size: 20px;
    font-family: "Poiret One";
}

@media screen and (max-width: 600px) {
    .body {
      background-color: rgb(25, 94, 19);
    }
}